/* author name etc should be idented! */
div.metadata {
    margin-left: 3em;
    margin-bottom: 1em;
    font-style: italic;
    font-size:80%;
}

/* discern footer */
footer {
    border-top: 1px solid;
    margin: 3em auto 0;
    text-align: center;
    width: 60%;
}

/* colours! */
a {
    color: #8cc88c;
}

a:hover, a:focus {
    color: #bbf3bb;
}

h1.entry-title a {
    color: #b2c9b2;
}

.navbar-dark .navbar-brand {
    color: #e42a1a;
}

body {
    color: #cccccc;
    background-color: #162f13;
    font-size: 14pt;
}

/* TODO: bring back bottom border */
nav.bg-dark {
    background-color: #463415 !important;
    border-bottom-color: #777777;
    border-bottom-width: 1px !important;
}

.navbar-dark .navbar-nav a.nav-link {
    color: #dab5a2;
}

pre {
    background-color: #51551c;
    border-color: #777777;
    color: #b5b5b5;
}

div.code pre {
    font-size: 13pt;
}

code.literal {
    color: #c23333;
    background-color: #162f13;
    outline: dotted white 1px;
}

.pager li > a {
    background-color: #333333;
    border-color: #444444;
}

.pager li > a:hover,
.pager li > a:focus {
    background-color: #444444;
}

blockquote {
    padding-left: 2rem;
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        position: absolute;
        color: #777;
    }

    &::before {
        content: "//";
        transform: rotate(90deg);
        left: 0;
    }

    &::after {
        content: "";
        left: 5px;
        top: 25px;
        width: 1px;
        height: 100%;
        background-color: currentColor;
  }

  p.attribution {
      text-align: left;
      margin-left: 17%;
  }
}
